# Python folders
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Secrets & Environment
.env
secret.json
secrets.toml
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
